---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Home'>
	<Showcase />
	<section class="page-content">
		<div class="container">
			<h3>This page is under construction</h3>
			<a href="/resume" >Click here to download my resume</a>
		</div>
	</section>
</Layout>

<style>
	a:hover {
		color: var(--color-secondary);
	}
</style>