

<div id="socials--list">
    <a href="https://www.linkedin.com/in/mrzulman" target="_blank">Linkedin</a>
    <a href="https://github.com/peerac" target="_blank">Github</a>
    <a href="mailto:m.rezazulman@gmail.com">Email</a>
    <a href="resume.pdf" target="_blank">Download Resume</a>
</div>

<style>
    #socials--list {
        display: flex;
        justify-content: flex-start;
        column-gap: 1em;
        flex-wrap: wrap;
    }

    #socials--list a{
        font-weight: 300;
        color: var(--color-secondary);
        font-size: 0.9em;
        transition: 0.3s;
    }

    #socials--list a:hover{
        font-weight: 100;
        color: var(--color-primary);
        font-size: 0.9em;
    }
</style>